@{
    ViewData["Title"] = "Cadastro de Autor";
}

<div class="text-center">
    <h1 class="display-4">A classe AuthorController chamou isso aqui!</h1>
    <p>Minha página de cadastro</p>
</div>

<div class="row">
    <div class="col-10"><h1>Autores</h1></div>
    <div class="col-2">
        <input type="button" class="btn btn-primary" value="Novo Autor"/><a href="Author/Create"></a>
    </div>
</div>
